/* Empty. Add your own CSS if you like */

@font-face {
    font-family: 'Reef';
    src: url('fonts/Reef.eot');
    src: url('fonts/Reef.eot') format('embedded-opentype'),
         url('fonts/Reef.woff2') format('woff2'),
         url('fonts/Reef.woff') format('woff'),
         url('fonts/Reef.ttf') format('truetype'),
         url('fonts/Reef.svg#Reef') format('svg');
}

body{
  font-family: "Reef";
}

.scroll{
  height:100%;
}

#smile-button-container{
  text-align:center;
  height:150px;
  width: 150px;
  margin: 0 auto;
  display:block;
  background-color: #e0ffff;
  box-shadow: 1px 2px 1px #eee;
  border-radius: 20px;
}

#smile-button::before{
  font-size:150px;
  display: inline-block;
  line-height: 150px;
  color: #33cd5f;
}

#map{
  height: 100%;
}

.card{
  text-align:center;
}

.author{
  font-style: italic;
}